/***** Perfect Gym Api *****/
/*** Variables ***/
/*** / Variables ***/
/*** Fonts ***/
@font-face {
  font-family: 'Averta-Bold';
  src: url('../fonts/Averta/webfonts/309D95_2_0.eot');
  src: url('../fonts/Averta/webfonts/309D95_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Averta/webfonts/309D95_2_0.woff2') format('woff2'), url('../fonts/Averta/webfonts/309D95_2_0.woff') format('woff'), url('../fonts/Averta/webfonts/309D95_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Averta-Light';
  src: url('../fonts/Averta/webfonts/309D95_8_0.eot');
  src: url('../fonts/Averta/webfonts/309D95_8_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Averta/webfonts/309D95_8_0.woff2') format('woff2'), url('../fonts/Averta/webfonts/309D95_8_0.woff') format('woff'), url('../fonts/Averta/webfonts/309D95_8_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Averta-Regular';
  src: url('../fonts/Averta/webfonts/309D95_A_0.eot');
  src: url('../fonts/Averta/webfonts/309D95_A_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Averta/webfonts/309D95_A_0.woff2') format('woff2'), url('../fonts/Averta/webfonts/309D95_A_0.woff') format('woff'), url('../fonts/Averta/webfonts/309D95_A_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Averta-Semibold';
  src: url('../fonts/Averta/webfonts/309D95_C_0.eot');
  src: url('../fonts/Averta/webfonts/309D95_C_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Averta/webfonts/309D95_C_0.woff2') format('woff2'), url('../fonts/Averta/webfonts/309D95_C_0.woff') format('woff'), url('../fonts/Averta/webfonts/309D95_C_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Averta-ThinItalic';
  src: url('../fonts/Averta/webfonts/309D95_F_0.eot');
  src: url('../fonts/Averta/webfonts/309D95_F_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Averta/webfonts/309D95_F_0.woff2') format('woff2'), url('../fonts/Averta/webfonts/309D95_F_0.woff') format('woff'), url('../fonts/Averta/webfonts/309D95_F_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Averta-ExtraBold';
  src: url('../fonts/Averta/webfonts/309D95_4_0.eot');
  src: url('../fonts/Averta/webfonts/309D95_4_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Averta/webfonts/309D95_4_0.woff2') format('woff2'), url('../fonts/Averta/webfonts/309D95_4_0.woff') format('woff'), url('../fonts/Averta/webfonts/309D95_4_0.ttf') format('truetype');
}
/*** / Fonts ***/
/*** Mixins ***/
.pg-ff-averta-light {
  font-family: 'Averta-Light', Verdana, Geneva, sans-serif;
  font-weight: lighter;
  font-weight: 200;
}
.pg-ff-averta-thin-italic {
  font-family: 'Averta-ThinItalic', Verdana, Geneva, sans-serif;
  font-weight: lighter;
  font-weight: 200;
  font-style: italic;
}
.pg-ff-averta-regular {
  font-family: 'Averta-Regular', Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-weight: 400;
}
.pg-ff-averta-semi-bold {
  font-family: 'Averta-Semibold', Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-weight: 600;
}
.pg-ff-averta-bold {
  font-family: 'Averta-Bold', Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-weight: 700;
}
.pg-ff-averta-extra-bold {
  font-family: 'Averta-ExtraBold', Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-weight: 800;
}
.pg-ff-roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.pg-ff-roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.pg-ff-roboto-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.pg-ff-roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.pg-ff-roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.pg-api-code {
  font: 14px Consolas, 'Liberation Mono', Courier, monospace;
  color: #697277;
  background-color: transparent;
  border: none;
}
.pg-container {
  max-width: 1366px;
  margin: 0 auto;
}
.pg-code {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #343f54;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background: none;
  border: none;
}
.pg-highlight {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #bec3c7;
  color: #697277;
  font: 14px/18px Consolas, 'Liberation Mono', Courier, monospace;
  background: none;
}
/*** / Mixins ***/
/* partial bootstrap integration */
* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.container-fluid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-fluid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* partial bootstrap integration */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #697277;
  background-color: #e9edf0;
  font-size: 18px;
  line-height: 30px;
}
input:focus,
input:active {
  outline: none;
  border: none;
}
#wrapper {
  overflow: hidden;
}
#header-wrapper,
#wrapper {
  min-width: 900px;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #ffffff;
}
#header-wrapper {
  height: 80px;
  background: #ffffff;
}
#header {
  padding: 0 100px;
  max-width: 1366px;
  margin: 0 auto;
}
#header .logo {
  float: left;
  margin-top: 17px;
  width: 273px;
  height: 42px;
  background: url(/assets/images/perfectgym-api.png) 0 0 no-repeat;
}
#header .nav {
  margin-top: 0;
}
#header .nav li a {
  color: #343f54;
  font-size: 15px;
  line-height: 80px;
  font-family: 'Averta-Regular', Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-weight: 400;
  padding: 15px 10px;
  display: inline;
  margin-left: 10px;
}
#header .nav li a:active,
#header .nav li a:focus,
#header .nav li a:hover {
  color: #343f54;
  outline: 0;
  background-color: transparent;
  background: none;
}
#searchfield {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid rgba(5, 138, 215, 0.4);
  background: none;
  padding: 5px 30px 5px 20px;
  margin-left: 10px;
  width: 80px;
}
#searchfield:focus {
  border: 1px solid #058ad7;
}
.search-placeholder {
  color: #343f54;
  font-family: 'Averta-Regular', Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-weight: 400;
  font-size: 15px;
  top: 2px;
}
.cancel-search {
  top: 5px;
  right: 10px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #697277;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
}
a {
  color: #058ad7;
}
a:hover {
  color: #058ad7;
  text-decoration: underline;
}
.button {
  background-color: #058ad7;
}
.button:hover {
  background-color: #ffffff;
  color: #058ad7;
  border: 1px solid #058ad7;
}
.content {
  overflow: hidden;
  padding: 100px;
  width: calc(100% - 590px);
}
.content h1 {
  font-family: 'Averta-ExtraBold', Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-weight: 800;
  color: #058ad7;
  font-size: 36px;
  line-height: 38px;
  margin: 0 0 20px 0;
  padding: 0;
}
.content h2 {
  font-family: 'Averta-Regular', Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-weight: 400;
  color: #343f54;
  font-size: 26px;
  line-height: 32px;
  margin: 60px 0 20px 0;
  padding: 0;
  position: relative;
}
.content h2 code {
  font: 14px Consolas, 'Liberation Mono', Courier, monospace;
  color: #697277;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.content h3,
.content h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #697277;
  font-size: 18px;
  line-height: 30px;
  margin: 0px 0 5px 0;
  padding: 0;
  position: relative;
}
.content h4 {
  font-size: 16px;
  line-height: 22px;
}
.content p code {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #343f54;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background: none;
  border: none;
}
.content table {
  width: 100%;
  overflow: auto;
  display: block;
  margin: 15px 0;
}
.content table thead {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.content table th {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #697277;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  background-color: #e9edf0;
  border: 1px solid #bec3c7;
  padding: 12px 15px;
  text-align: left;
}
.content table tbody {
  vertical-align: middle;
  border-color: inherit;
}
.content table tr {
  border-top: 1px solid #bec3c7;
  background-color: #fff;
  vertical-align: inherit;
}
.content table td {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #697277;
  border: 1px solid #bec3c7;
  padding: 12px 15px;
  vertical-align: top;
}
.content table td code {
  font: 14px Consolas, 'Liberation Mono', Courier, monospace;
  color: #697277;
  background-color: transparent;
}
.content ul li,
.content ol li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #697277;
}
.content ul code,
.content ol code {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #343f54;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background: none;
  border: none;
}
.content ul strong,
.content ol strong,
.content ul b,
.content ol b {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.content ol > li::before {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #343f54;
  font-size: 16px;
}
.content .alert {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #058ad7;
  background-color: transparent;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 22px;
  margin: 2em 0;
}
.content .alert p:last-child {
  margin-bottom: 0;
}
/***** Sidebar & nav  *****/
.sidebar-shell {
  float: left;
  padding: 100px 0 100px 100px;
  margin: 0;
  width: 290px;
}
.sidebar-module {
  -webkit-box-shadow: 0 10px 40px 0 rgba(16, 17, 75, 0.1);
  -moz-box-shadow: 0 10px 40px 0 rgba(16, 17, 75, 0.1);
  box-shadow: 0 10px 40px 0 rgba(16, 17, 75, 0.1);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: none;
}
.sidebar-module li h3 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #697277;
  font-size: 14px;
  line-height: 22px;
  border: none;
  padding: 6px 20px;
}
.sidebar-module li h3 .js-expand-btn {
  padding: 0 5px;
  right: 20px;
  left: auto;
}
.sidebar-module li .js-guides li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #697277;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.0999999999999996rem;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 20px 6px 30px;
}
.sidebar-module .js-current h3 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #058ad7;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 20px;
}
.sidebar-module .js-current h3 .js-expand-btn {
  right: 20px;
  left: auto;
  padding: 0 5px;
}
.sidebar-module .js-current .js-guides li a {
  color: #058ad7;
}
/***** / Sidebar & nav  *****/
pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #e9edf0;
  border: 1px solid #bec3c7;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 22px;
}
.command-line {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #bec3c7;
  color: #697277;
  font: 14px/18px Consolas, 'Liberation Mono', Courier, monospace;
  padding: 20px;
  overflow: auto;
  font-size: 14px;
  line-height: 18px;
  background-color: #fff;
  margin: 2em 0;
}
.command-line .command {
  color: #ff5614;
  margin-bottom: 30px;
}
.command-line em {
  color: #697277;
  font-weight: bold;
}
.command-line span.output {
  color: #697277;
}
.highlight {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #bec3c7;
  color: #697277;
  font: 14px/18px Consolas, 'Liberation Mono', Courier, monospace;
  background: none;
}
.highlight code .nt {
  color: #697277;
}
.highlight code .mi,
.highlight code .kc {
  color: #058ad7;
}
.highlight code .s2 {
  color: #ff5614;
}
.highlight-headers {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #bec3c7;
  color: #697277;
  font: 14px/18px Consolas, 'Liberation Mono', Courier, monospace;
  background: none;
  border-bottom: 0px solid #bec3c7;
}
.highlight-headers + pre {
  border-top: 1px solid #bec3c7;
}
#markdown-toc li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #697277;
  font-size: 18px;
  line-height: 30px;
}
#markdown-toc li a:hover {
  color: #058ad7;
}
.pg-api-graphic-block {
  margin: 50px 0 0 0;
}
.pg-api-graphic-block-bottom {
  margin: 50px 0 40px 0;
}
/*** Start page ***/
.overview .wrapper.feature {
  position: relative;
  max-width: 1166px;
  background-color: #ffffff;
  padding: 100px;
}
.overview .wrapper.feature .logo_hero {
  z-index: 1;
  right: 100px;
  top: 100px;
}
/*** / Start page ***/
/*** Footer ***/
.pg-content-container {
  max-width: 1166px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.pg-footer {
  min-width: 900px;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #058ad7;
  color: #ffffff;
  padding-top: 70px;
}
.pg-footer p:last-child {
  margin-bottom: 0;
}
.pg-footer .col-footer-2 {
  position: static;
}
.panel-footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}
.panel-footer .panel-heading {
  font-family: 'Averta-Light', Verdana, Geneva, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
  border: none;
  font-weight: 200;
}
.panel-footer .panel-body p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  border: none;
}
.panel-footer .nav-pills li {
  display: inline-block;
  float: none;
  width: 100%;
  margin-left: 0;
}
.panel-footer .nav-pills li a {
  color: #c8d1dc;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 5px 0;
}
.panel-footer .nav-pills li a:hover {
  background-color: transparent;
  text-decoration: underline;
}
.row-pg-footer-bottom {
  color: #c8d1dc;
  padding: 40px 0;
}
.row-pg-footer-bottom .nav-pills a {
  color: #c8d1dc;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
}
.row-pg-footer-bottom .nav-pills a:hover {
  background-color: transparent;
  text-decoration: underline;
}
.row-pg-footer-bottom .pg-btn-select {
  margin-left: 10px;
}
.row-pg-footer-bottom-col-1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 40px;
  font-size: 14px;
}
.row-pg-footer-bottom-col-3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 40px;
  font-size: 14px;
}
.row-pg-footer-bottom-col-3 a {
  color: #c8d1dc;
}
.pg-footer-language-box {
  text-align: right;
  margin-top: 10px;
}
.pg-footer-ihrsa-box {
  text-align: right;
}
.pg-vertical-line {
  background-color: #2bacf6;
  width: 1px;
  height: 100%;
  margin: 0 auto;
}
.col-footer-2 .pg-vertical-line {
  min-height: 100px;
  margin-top: 30px;
}
/*** / Header New API Notification ***/
#notification-new-version {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  max-height: 30vh;
  background-color: #058ad7;
  box-shadow: 0 0 3px 0 #697277;
  color: white;
  z-index: 10;
  position: relative;
}
#notification-new-version .copy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#notification-new-version .copy h3 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Averta-Regular', Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-weight: 400;
  text-align: center;
  color: white;
}
#notification-new-version .copy a {
  color: white;
  margin-left: 30px;
  padding: 8px 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1em;
}
#notification-new-version .copy a:hover {
  text-decoration: none;
  background-color: white;
  color: #058ad7;
}
#notification-new-version .copy p {
  color: white;
  margin: 0;
  padding: 0;
}
h1.new-version {
  margin-bottom: 4rem;
}
h1.new-version span.h1-background-text {
  position: absolute;
  left: -1rem;
  top: -1rem;
  font-size: 10rem;
  color: #e9edf0;
  z-index: -1;
}
/*** / Footer ***/
/***** / Perfect Gym Api *****/
/********************** Custom, iPhone Retina **********************/
/********************************************************************/
@media only screen and (max-width: 768px) {
  /***** Perfrctgym footer *****/
  .pg-footer .col-footer-1 {
    text-align: center;
  }
  .row-pg-footer-bottom {
    padding: 40px 0;
  }
  .row-pg-footer-bottom .row-pg-footer-bottom-col-1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .row-pg-footer-bottom .row-pg-footer-bottom-col-2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .row-pg-footer-bottom .row-pg-footer-bottom-col-3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .pg-footer-terms-box {
    padding-right: 15px;
  }
  .pg-sites-select {
    float: none;
  }
  .col-footer-2 .pg-vertical-line {
    display: none;
  }
  /***** / Perfrctgym footer *****/
}
