<%= renderp '/head.*' %>

<body class="api <%= ENV['DEV_MODE'] ? 'dev-mode' : '' %>">
  <%= renderp '/header-api.*' %>

  <!--<div class="sub-nav">-->
    <!--<h2><a href="/api/">API</a></h2>-->

    <!--<ul>-->
      <!--<li><a href="/api/" class="active">Reference</a></li>      -->
      <!--<li><a href="/appendix/datatypes/address">Appendix</a></li>-->
    <!--</ul>-->
  <!--</div>-->

  <div id="wrapper">
    <div class="pg-api-graphic-block">
      <img src="/assets/images/pg-api-graphic.png" alt="Perfect Gym api">
    </div>

    <%= renderp '/sidebar.*' %>

    <div class="content">
      <div class="alert warning">
        Deprecated - API v1 will be switched off on 01.07.2022. Please <a href="/">upgrade to API v2</a>
      </div>
      <%= yield %>
    </div>

    <div class="pg-api-graphic-block-bottom">
      <img src="/assets/images/pg-api-graphic.png" alt="Perfect Gym api">
    </div>

  </div>
  <!-- #wrapper -->

  <%= renderp '/footer.*' %>
</body>
</html>
