<div class="container-fluid pg-footer">
  <div class="pg-content-container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-footer-1">
        <div class="panel panel-footer">
          <div class="panel-heading">Perfect Gym Solutions S.A.</div>
          <div class="panel-body">
            <p>
              ul. Klimczaka 1, Klatka A<br />
              02-797 Warszawa<br />
              Poland<br />
            </p>
            <p>
              (+48) 882 131 693<br />
              contact@perfectgym.com
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 col-footer-2 text-center">
        <img src="/assets/images/perfectgym-logo-symbol.png">
        <div class="pg-vertical-line">
          &nbsp;
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-footer-3">

      </div>
    </div>
    <div class="row row-pg-footer-bottom">
      <div class="col-xs-12 col-sm-4 text-left row-pg-footer-bottom-col-1">
        © 2016 PerfectGym. All rights reserved.
      </div>
      <div class="col-xs-12 col-sm-4 text-center row-pg-footer-bottom-col-2">
        <img src="/assets/images/logo-ihrsa.png">
      </div>
      <div class="col-xs-12 col-sm-4 text-right row-pg-footer-bottom-col-3">

        <a href="http://www.perfectgym.com/" title="www.perfectgym.com">www.perfectgym.com</a>

      </div>
    </div>
  </div>
</div>