<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/">Overview</a></h3>
        <ul class="js-guides">
          <!-- <li><a href="/api/media/">Media Types</a></li> -->
          <li><a href="/api/authentication/">Authentication</a></li>
          <!-- <li><a href="/api/oauth_authorizations/">OAuth Authorizations API</a></li> -->
          <!-- <li><a href="/api/auth/">Other Authentication Methods</a></li> -->
          <!-- <li><a href="/api/troubleshooting/">Troubleshooting</a></li> -->
          <li><a href="/api/versions/">Versions</a></li>
        </ul>
      </li>
      <!-- <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/activity/">Activity</a></h3>
        <ul class="js-guides">
          <li><a href="/api/activity/events/">Events</a></li>
          <li><a href="/api/activity/events/types/">Event Types &amp; Payloads</a></li>
          <li><a href="/api/activity/feeds/">Feeds</a></li>
          <li><a href="/api/activity/notifications/">Notifications</a></li>
          <li><a href="/api/activity/starring/">Starring</a></li>
          <li><a href="/api/activity/watching/">Watching</a></li>
        </ul>
      </li> -->
    </ul>
  </div> <!-- /sidebar-module -->
  <!-- <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/github/developer.github.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div> -->
	<!-- <div class="sidebar-module api-status"><a href="https://status.github.com" class="unknown">API Status</a></div> -->
</div><!-- /sidebar-shell -->
