<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/">Overview</a></h3>
        <ul class="js-guides">          
          <li><a href="/api/overview/requests/">Requests</a></li> 
          <li><a href="/api/overview/pagination/">Pagination</a></li>          
          <li><a href="/api/overview/responses/">Responses</a></li>          
          <li><a href="/api/overview/authentication/">Authentication</a></li>          
          <li><a href="/api/overview/versions/">Versions</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/classes/">Classes</a></h3>
        <ul class="js-guides">
          <li><a href="/api/classes/classestypes/">Classes types</a></li>
          <li><a href="/api/classes/classes/">Classes</a></li>
          <li><a href="/api/classes/userclasses/">User classes</a></li>
          <li><a href="/api/classes/booking/">Booking</a></li>
          <li><a href="/api/classes/ratings/">Ratings</a></li>          
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/clubs/">Clubs</a></h3>
        <ul class="js-guides">          
          <li><a href="/api/clubs/clubs/">Clubs</a></li> 
          <li><a href="/api/clubs/clubdetails/">Club details</a></li> 
        </ul>
      </li> 
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/instructors/">Instructors</a></h3>
        <ul class="js-guides">          
          <li><a href="/api/instructors/instructors/">Instructors</a></li>           
        </ul>
      </li>  
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/memberships/">Memberships</a></h3>
        <ul class="js-guides">          
          <li><a href="/api/memberships/memberships/">Memberships</a></li>   
          <li><a href="/api/memberships/membershipdetails/">Membership details</a></li>                               
        </ul>
      </li>  
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/paymentplans/">Payment plans</a></h3>
        <ul class="js-guides">                    
          <li><a href="/api/paymentplans/paymentplans/">Payment plans</a></li>   
          <li><a href="/api/paymentplans/paymentplandetails/">Payment plan details</a></li>  
          <li><a href="/api/paymentplans/discounts/">Discounts</a></li>   
        </ul>
      </li>   
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/contracts/">Contracts</a></h3>
        <ul class="js-guides">                    
          <li><a href="/api/contracts/contracts/">Contracts</a></li>   
          <li><a href="/api/contracts/contractdetails/">Contract details</a></li>            
        </ul>
      </li>     
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/payments/">Payments</a></h3>
        <ul class="js-guides">                    
          <li><a href="/api/payments/contractfees/">Pending contract fees</a></li>                        
          <li><a href="/api/payments/payments/">Payments</a></li>                        
          <li><a href="/api/payments/paymentstatus/">Payment status</a></li>                        
        </ul>
      </li>     
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/users/">Users</a></h3>
        <ul class="js-guides">          
          <li><a href="/api/users/userdetails/">User details</a></li>    
          <li><a href="/api/users/addupdateuser/">Adding and updating user</a></li>   
          <li><a href="/api/users/userphoto/">User photo</a></li>  
          <li><a href="/api/users/usercontract/">User contract</a></li>           
          <li><a href="/api/users/usercreditcard/">User credit card</a></li>           
          <li><a href="/api/users/userdirectdebit/">User direct debit</a></li>  
          <li><a href="/api/users/useragreements/">User agreements</a></li>   
          <li><a href="/api/users/usermembershipcard/">User membership card</a></li>           
          <li><a href="/api/users/passwordupdatingandvalidation/">Password updating and credentials validation</a></li>           
        </ul>
      </li>     
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/api/miscellaneous/">Miscellaneous</a></h3>
        <ul class="js-guides">                    
          <li><a href="/api/miscellaneous/cities/">Cities</a></li>              
          <li><a href="/api/miscellaneous/countries/">Countries</a></li>              
        </ul>
      </li>     
             
    </ul>
  </div> <!-- /sidebar-module -->
  <!-- <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/github/developer.github.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div> -->
	<!-- <div class="sidebar-module api-status"><a href="https://status.github.com" class="unknown">API Status</a></div> -->
</div><!-- /sidebar-shell -->
